<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>AXE E-Santé - iKoula 116841hpv117073</title>
    <link rel="icon" href="favicon.ico" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>AXE E-Santé - {{ hostname }}</h1>
    <h3>
        <a href="http://{{ network.address }}:8080">
            Diffmed File d'Attente
        </a>
    </h3>
    <ul>
        <li>
            <a href="http://{{ network.address }}:8080/administrateur">
                Administrateur
            </a>
        </li>
        <li>
            <a href="http://{{ network.address }}:8080/secretaire">
                Secrétaire
            </a>
        </li>
    </ul>
    <h3>
        <a href="http://{{ network.address }}:8081">
            Diffmed Info Patients
        </a>
    </h3>
    <h3>
        <a href="http://{{ network.address }}:8091">
            Moteur d'interopérabilité
        </a>
    </h3>
    <h3>
        <a href="http://{{ network.address }}:8092">
            Envoi Message
        </a>
    </h3>
</div>
</body>
</html>
