id_page:
ssh_hostname: {{ hostname }}
ip_locale: {{ network.address }}
ip_maintenance: {{ proxy.ip }}
port_ssh: {{ autossh.ssh }}
port_sql: {{ autossh.sql }}
port_vnc: {{ autossh.vnc }}
port_dfa: {{ autossh.dfa }}
port_dip: {{ autossh.dip }}
port_interop: {{ autossh.interop }}
port_em: {{ autossh.envoi_msg }}
port_grafana: {{ autossh.grafana }}
{% if autossh.monitoring is defined %}port_monitoring: {{ autossh.monitoring }}{% endif %}
mdp_sys_root: {{ pwd.sys_root }}
mdp_sys_diffmed: {{ pwd.sys_diffmed }}
mdp_sql_diffmed: {{ pwd.mysql_diffmed }}
mdp_sql_support: {{ pwd.mysql_support }}
mdp_dfa_admin: {{ pwd.app_admin }}
mdp_dip_admin: {{ pwd.app_admin }}
mdp_interop_admin: {{ pwd.app_admin }}
mdp_em_admin: {{ pwd.app_admin }}
mdp_grafana_admin: {{ pwd.app_admin }}
