// --> Params de connexion pour le module secrétaire ----------------------------------
var ws_host = '{{ network.address }}';
var ws_port = '52000';
var ws_nameServer = 'axeServer';
var ws_fullhost = 'ws://'+ws_host+':'+ws_port+'/'+ws_nameServer;
// <-- Params de connexion pour le module secrétaire ----------------------------------
