MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
DATABASE_URL="mysql://diffmed:{{ pwd.mysql_diffmed }}@127.0.0.1:3306/dfa?serverVersion=mariadb-10.3.27"
CORS_ALLOW_ORIGIN='*'
APP_ENV=prod
APP_DEBUG=false
APP_SECRET=59d076fa8692657028c6fc0976b3b6f9
WS_PORT=52000
SYSTEM_USER=diffmed
SEL=*!AXE-E-Santé!*
WEBSOCKIFY_PATH=/var/www/novnc/utils/websockify/websockify.py
PHP=/usr/bin/php8.1
DOSSIER_PROJET=/var/www/dfa/current
SOCKET_SEND_TIMEOUT_MS=10
CACHE_DIR=
LOG_DIR=
