apiVersion: 1

datasources:
- name: DFA
  type: mysql
  access: direct
  orgId: 1
  uid: ddpyf2hww3if4e
  url: 127.0.0.1:3306
  user: diffmed
  database: dfa
  isDefault: true
  secureJsonData:
    password: {{ pwd.mysql_diffmed }}
  version: 1
  editable: true
