<VirtualHost *:3080>
    ServerAdmin support@axepartner.com
    ServerName authproxy

    <Proxy *>
        RewriteEngine On
        RequestHeader set X-WEBAUTH-USER "diffmed"
        Require ip 127.0.0.1 ::1 {{ network.address }}
    </Proxy>

    ProxyPreserveHost On
    ProxyRequests Off

    ProxyPass           /api/live/ws    ws://{{ network.address }}:3000/api/live/ws
    ProxyPassReverse    /api/live/ws    ws://{{ network.address }}:3000/api/live/ws
    ProxyPass           /               http://{{ network.address }}:3000/
    ProxyPassReverse    /               http://{{ network.address }}:3000/

    ErrorLog "${APACHE_LOG_DIR}/authproxy-error.log"
    CustomLog "${APACHE_LOG_DIR}/authproxy-access.log" common
</VirtualHost>
