APP_ENV=prod
APP_SECRET=04ba4b880b4d8abe508f8580175b8802
DATABASE_URL=mysql://diffmed:{{ pwd.mysql_diffmed }}@127.0.0.1:3306/labo
DATABASE_URL_TEST=mysql://diffmed:{{ pwd.mysql_diffmed }}@127.0.0.1:3306/labo
CORS_ALLOW_ORIGIN=^https?://localhost:?[0-9]*$
WS_ADDRESS={{ network.address }}
WS_PORT=4242

API_BASE_URI=http://127.0.0.1:8083/api/

LOG_SERVER=/var/log/accueil-labo-serveur.log
LOG_DAEMON=/var/log/accueil-labo-serveur-daemon.log

SYSTEM_USER=diffmed
SITE_NAME=NOM_ETABLISSEMENT

