REACT_APP_VERSION=$npm_package_version
REACT_APP_TIME=$npm_package_time
REACT_APP_API_BASE_URI=http://{{ network.address }}:8083/api
##Exemple: REACT_APP_WS_ADDR=wss://labo.showroom.axepartner.com:4243
REACT_APP_WS_ADDR=ws://{{ network.address }}:4242
####REACT_APP_WS_PORT=4242
REACT_APP_WS_REALM=realm1
REACT_APP_DFA_WS_ADDR=ws://{{ network.address }}:52000
