APP_ENV=prod
APP_SECRET=04e1a652651a2cbf24b2c33c25ca0822
DATABASE_URL=mysql://diffmed:{{ pwd.mysql_diffmed }}@localhost:3306/envoi_msg?serverVersion=mariadb-10.3.27
project_dir=/var/www/envoi-msg/
SYSTEM_USER=diffmed
