APP_ENV=prod
APP_SECRET=d457163ef48a0f3d55df347db77162cd
DATABASE_URL=mysql://diffmed:{{ pwd.mysql_diffmed }}@127.0.0.1:3306/dip
NOVNC_URL=http://{{ network.address }}:8084/vnc.html
URL_REPERTOIRE_MEDIA=http://{{ network.address }}:8081/medias/
CHEMIN_WEBSOCKIFY='/var/www/novnc/utils/websockify/websockify.py'
CORS_ALLOW_ORIGIN='*'
