server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://51.103.25.157:3100/loki/api/v1/push

scrape_configs:

- job_name: auth.log
  static_configs:
  - targets:
      - localhost
    labels:
      job: authlog
      __path__: /var/log/auth.log
      host: {{ ansible_hostname }}
      type: Serveur DFA

- job_name: syslog
  static_configs:
  - targets:
      - localhost
    labels:
      job: syslog
      __path__: /var/log/syslog.log
      host: {{ ansible_hostname }}
      type: Serveur DFA

- job_name: fail2ban
  static_configs:
  - targets:
      - localhost
    labels:
      job: fail2ban
      __path__: /var/log/fail2ban.log
      host: {{ ansible_hostname }}
      type: Serveur DFA

- job_name: apache
  static_configs:
  - targets:
      - localhost
    labels:
      job: apache
      __path__: /var/log/apache2/*log
      host: {{ ansible_hostname }}
      type: Serveur DFA

- job_name: dfa daemon
  static_configs:
  - targets:
      - localhost
    labels:
      job: dfa daemon
      __path__: /var/www/dfa/current/var/daemon.log
      host: {{ ansible_hostname }}
      type: Serveur DFA
