[Unit]
Description=AutoSSH
Wants=network-online.target
After=network-online.target

[Service]
User=autossh
ExecStart=/usr/bin/autossh -M 0 autossh@{{ proxy.ip }} -p{{ proxy.port_ssh }} -N\
 -o "ExitOnForwardFailure=yes"\
 -o "ServerAliveInterval 60"\
 -o "ServerAliveCountMax 3"\
 -R 0.0.0.0:{{ autossh.ssh }}:localhost:22\
 -R 0.0.0.0:{{ autossh.vnc }}:localhost:5900\
{% if autossh.sql is defined %} -R 0.0.0.0:{{ autossh.sql }}:localhost:3306\
{% endif %}
{% if autossh.dfa is defined %} -R 0.0.0.0:{{ autossh.dfa }}:localhost:8080\
{% endif %}
{% if autossh.dip is defined %} -R 0.0.0.0:{{ autossh.dip }}:localhost:8081\
{% endif %}
{% if autossh.interop is defined %} -R 0.0.0.0:{{ autossh.interop }}:localhost:8082\
{% endif %}
{% if autossh.envoi_msg is defined %} -R 0.0.0.0:{{ autossh.envoi_msg }}:localhost:8083\
{% endif %}
{% if autossh.grafana is defined %} -R 0.0.0.0:{{ autossh.grafana }}:localhost:3000\
{% endif %}
{% if autossh.monitoring is defined %} -R 0.0.0.0:{{ autossh.monitoring }}:localhost:9199\
{% endif %}

ExecStop=/usr/bin/pkill autossh
Restart = always
RestartSec=60

[Install]
WantedBy=multi-user.target
